RewriteEngine On

# Exclude the views directory from URL rewriting
RewriteCond %{REQUEST_URI} !^/RomanianDrugExplorer/app/views/

# If the requested filename is not a directory,
RewriteCond %{REQUEST_FILENAME} !-d
# and if the requested filename is not a file that exists,
RewriteCond %{REQUEST_FILENAME} !-f
# then rewrite the request to index.php
RewriteRule ^ index.php [L]

# Redirect to custom 404 page
ErrorDocument 404 /404NotFound.php