/* Resetare stiluri */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
        background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
        radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
        radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
        radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
        radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      
        margin: 0;
        min-height: 100vh;
    
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: center;
}

 .card {
    display: flex;
    flex-direction: column; /* Așază elementele într-un rând */
   
    align-items: flex-start; /* Alinează elementele pe axa verticală la începutul containerului */
    background-color: #FFFFFF;
    padding: 20px; /* Adaugă un padding pentru a separa conținutul de marginile containerului */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-bottom: 20px;
}
.text-container {
    margin-top: 50px;
    padding-left: 3px;
    border-radius: 10px;
    color: #333333;
}


.text-container .text{
    color: #333333;
    font-size: 3vh;
    text-align: left;
    padding-bottom: 20px;
}