<<<<<<< HEAD
body {
    background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
    radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
    radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
    radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
    radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: Georgia, serif;
    display: flex;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.title {
    background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
    radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
    radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
    radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
    radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

    text-align: center;
    width: 100%; /* Face ca titlul să se întindă pe întreaga lățime a .nav-container */
    margin: 0; /* Elimină marginile pentru a asigura umplerea completă */
    padding: 0; /* Elimină padding-ul pentru a asigura umplerea completă */
    padding-top: 20px;
    height: 60px;
}
  


.items {
     /* In caz ca vreau sa fie mai mare
   background-color: #E9F5DB;
    height: 80px;
    font-size: 2em;
    border-bottom: 1px solid #0003;
    display: flex;
    justify-content: space-between; /* Așază elementele în spațiu egal între ele 
    align-items: center; /* Alinează elementele vertical pe axa y 
    padding: 0 40px; /* Ajustează marginile stânga și dreapta 
    */
    background-color: #E9F5DB;
    height: 50px;
    font-size: 1.5em;
    border-bottom: 1px solid #0003;
    display: flex;
    justify-content: space-between; /* Așază elementele în spațiu egal între ele */
    align-items: center; /* Alinează elementele vertical pe axa y */
    padding: 0 40px; /* Ajustează marginile stânga și dreapta */

}


.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Alinează elementele orizontal în centrul containerului */
}

.list > a {
    color: #739072;
    padding: .75em;
    text-align: center;
    text-decoration: none;
    transition: color .5s; /* Tranzitie pentru culoare la hover */
    position: relative;
    margin: 0 10px; /* Spațiere între elementele listei */
}


.list > a:hover {
    color: #3A4D39; /* Schimbă culoarea la hover */
}

.list > a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #3A4D39;
    position: absolute;
    left: 0;
    bottom: 15px;
    transition: width .5s; /* Tranzitie pentru latimea liniei */
}

.list > a:hover::after {
    width: 100%;
}

.logo {
    padding-left: 50px; 
    margin: 5px;
}

.logo a {
    color: #3A4D39; /* Culoare pentru textul logo-ului */
    text-decoration: none; /* Fără subliniere pentru link */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px;
}


.for_login {
    background-color: #3A4D39;
    border-radius: 10px;
    transition: 0.5s;
}

.for_login > a {
    color: #becbaf;
    text-decoration: none;
    padding: 10px 10px; /* Măriți padding-ul pentru a mări zona colorată */
    margin: 0 10px;
    display: inline-block;
}

.for_login:hover{
    background-color: #8d9188; /* Schimbă culoarea fundalului la hover/focus */
}

.for_login a:hover{
    color: #3A4D39;
}



/*RESTUL*/
.main {
    display: flex;
    flex-direction: column; /* Schimbați direcția fluxului la coloană */
    align-items: center; /* Alineați elementele pe axa orizontală */
    padding-top: 100px;
    margin: 0 auto; /* Margin: 0 și auto pentru a centra conținutul */
    max-width: 1200px; /* Setați o lățime maximă pentru conținut */
    width: 100%; /* Asigurați-vă că conținutul se întinde pe întreaga lățime */
}
  
.main h1 {
    padding-top: 50px; /* mențineți spațiul de deasupra */
    margin-left: 10px; /* adăugați spațiu la stânga textului */
    display: inline-block; /* Faceți ca titlul să fie afișat pe aceeași linie cu câmpul de selectare */
    margin-right: 20px; /* Adăugați spațiu între titlu și câmpul de selectare */
}
.main .input-field {
    display: inline-block; /* Faceți câmpul de selectare să fie afișat pe aceeași linie cu titlul */
    vertical-align: top; /* Aliniați câmpul de selectare în partea de sus a liniei */
}
.main .year {
    padding-top: 0%;
    text-decoration: underline; /* Adăugați subliniere textului */
    font-size: 40px;
}
    
.container_1 {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    display: flex;
    flex: 1;
    justify-content: space-evenly;/* Distribuie spațiul disponibil între coloane */
    margin-right: 0px; 
    
}


.button-column {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding-right: 150px;
}

.image-column {
    margin-top: 0px;
    max-width: 50%;
    padding-left: 40px; /* Spațiu între imagine și marginile containerului */
}
.image-column h1{
    margin-top: 0%;
}



.button {
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

/* Stiluri pentru butoane */
.container_1 .button1 {
    background-color: #720006;
    width: 70px;
}

.container_1 .button2 {
    background-color: #dd1515;
    width: 100px;
}

.container_1 .button3 {
    background-color: #e6700f;
    width: 130px;
}

.container_1 .button4 {
    background-color: #f0ec14;
    width: 160px;
}

.container_1 .button5 {
    background-color: #c8d64b;
    width: 190px;
}

.container_1 .button6 {
    background-color: #82f160;
    width: 220px;
}

.container_1 .button7 {
    background-color: #257a3f;
    width: 250px;
}

.container_1 img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



  .container_2 {
    margin-top: 40px;
    margin-left: 20px;
    width: 100%;
  }
  .container_2 h1{
    padding-top: 0; /* mențineți spațiul de deasupra */
    font-size: 40px ;
  }
  
  .container_2 .card ul li .large.material-icons {
    font-size: 4rem; /* Mărește dimensiunea iconiței la 36 de pixeli */
    vertical-align: middle; /* Aliniați vertical textul la mijlocul iconiței */
    margin-right: 10px; /* Adăugați un spațiu mic între iconiță și text */
  }
  
  
  .card {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    
  }

  .card h1 {
    font-size: 24px; /* Dimensiunea fontului pentru titlu */
    margin-bottom: 10px; /* Spațierea inferioară între titlu și lista de link-uri */
}

.card ul {
    list-style-type: none; /* Eliminarea stilului implicit al listei */
    padding: 0; /* Eliminarea spațierii interioare a listei */
}

.card ul li {
    margin-bottom: 10px; /* Spațierea între elementele listei */
}

.card ul li a {
    color: #333; /* Culoarea textului link-urilor */
    text-decoration: underline; /* Adăugați subliniere la link-uri */
    transition: color 0.3s; /* Efect de tranziție pentru culoarea textului */
}

.card ul li a:hover {
    color: #007bff; /* Culoarea textului la hover */
}
/* Stilurile personalizate pentru elementul de selectare Materialize */
.input-field select {
    display: block;
    width: 100%; /* Lățimea selectului */
    padding: 10px; /* Spațiul intern */
    font-size: 16px; /* Dimensiunea fontului */
    border: 1px solid #ccc; /* Bordura selectului */
    border-radius: 5px; /* Rotunjirea colțurilor */
    background-color: #fff; /* Culoarea fundalului */
    transition: border-color 0.3s ease; /* Efect de tranziție pentru culoarea bordurii */
}

.input-field select:focus {
    outline: none; /* Eliminarea conturului la focus */
    border-color: #007bff; /* Schimbarea culorii bordurii la focus */
}

.input-field label {
    font-size: 16px; /* Dimensiunea fontului etichetei */
    color: #333; /* Culoarea textului etichetei */
}
=======
body {
    background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
    radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
    radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
    radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
    radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: Georgia, serif;
    display: flex;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.title {
    background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
    radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
    radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
    radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
    radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

    text-align: center;
    width: 100%; /* Face ca titlul să se întindă pe întreaga lățime a .nav-container */
    margin: 0; /* Elimină marginile pentru a asigura umplerea completă */
    padding: 0; /* Elimină padding-ul pentru a asigura umplerea completă */
    padding-top: 20px;
    height: 60px;
}
  


.items {
     /* In caz ca vreau sa fie mai mare
   background-color: #E9F5DB;
    height: 80px;
    font-size: 2em;
    border-bottom: 1px solid #0003;
    display: flex;
    justify-content: space-between; /* Așază elementele în spațiu egal între ele 
    align-items: center; /* Alinează elementele vertical pe axa y 
    padding: 0 40px; /* Ajustează marginile stânga și dreapta 
    */
    background-color: #E9F5DB;
    height: 50px;
    font-size: 1.5em;
    border-bottom: 1px solid #0003;
    display: flex;
    justify-content: space-between; /* Așază elementele în spațiu egal între ele */
    align-items: center; /* Alinează elementele vertical pe axa y */
    padding: 0 40px; /* Ajustează marginile stânga și dreapta */

}


.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Alinează elementele orizontal în centrul containerului */
}

.list > a {
    color: #739072;
    padding: .75em;
    text-align: center;
    text-decoration: none;
    transition: color .5s; /* Tranzitie pentru culoare la hover */
    position: relative;
    margin: 0 10px; /* Spațiere între elementele listei */
}


.list > a:hover {
    color: #3A4D39; /* Schimbă culoarea la hover */
}

.list > a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #3A4D39;
    position: absolute;
    left: 0;
    bottom: 15px;
    transition: width .5s; /* Tranzitie pentru latimea liniei */
}

.list > a:hover::after {
    width: 100%;
}

.logo {
    padding-left: 50px; 
    margin: 5px;
}

.logo a {
    color: #3A4D39; /* Culoare pentru textul logo-ului */
    text-decoration: none; /* Fără subliniere pentru link */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px;
}


.for_login {
    background-color: #3A4D39;
    border-radius: 10px;
    transition: 0.5s;
}

.for_login > a {
    color: #becbaf;
    text-decoration: none;
    padding: 10px 10px; /* Măriți padding-ul pentru a mări zona colorată */
    margin: 0 10px;
    display: inline-block;
}

.for_login:hover{
    background-color: #8d9188; /* Schimbă culoarea fundalului la hover/focus */
}

.for_login a:hover{
    color: #3A4D39;
}



/*RESTUL*/
.main {
    display: flex;
    flex-direction: column; /* Schimbați direcția fluxului la coloană */
    align-items: center; /* Alineați elementele pe axa orizontală */
    padding-top: 100px;
    margin: 0 auto; /* Margin: 0 și auto pentru a centra conținutul */
    max-width: 1200px; /* Setați o lățime maximă pentru conținut */
    width: 100%; /* Asigurați-vă că conținutul se întinde pe întreaga lățime */
}
  
.main h1 {
    padding-top: 50px; /* mențineți spațiul de deasupra */
    margin-left: 10px; /* adăugați spațiu la stânga textului */
    display: inline-block; /* Faceți ca titlul să fie afișat pe aceeași linie cu câmpul de selectare */
    margin-right: 20px; /* Adăugați spațiu între titlu și câmpul de selectare */
}
.main .input-field {
    display: inline-block; /* Faceți câmpul de selectare să fie afișat pe aceeași linie cu titlul */
    vertical-align: top; /* Aliniați câmpul de selectare în partea de sus a liniei */
}
.main .year {
    padding-top: 0%;
    text-decoration: underline; /* Adăugați subliniere textului */
    font-size: 40px;
}
    
.container_1 {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    display: flex;
    flex: 1;
    justify-content: space-evenly;/* Distribuie spațiul disponibil între coloane */
    margin-right: 0px; 
    
}


.button-column {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding-right: 150px;
}

.image-column {
    margin-top: 0px;
    max-width: 50%;
    padding-left: 40px; /* Spațiu între imagine și marginile containerului */
}
.image-column h1{
    margin-top: 0%;
}



.button {
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

/* Stiluri pentru butoane */
.container_1 .button1 {
    background-color: #720006;
    width: 70px;
}

.container_1 .button2 {
    background-color: #dd1515;
    width: 100px;
}

.container_1 .button3 {
    background-color: #e6700f;
    width: 130px;
}

.container_1 .button4 {
    background-color: #f0ec14;
    width: 160px;
}

.container_1 .button5 {
    background-color: #c8d64b;
    width: 190px;
}

.container_1 .button6 {
    background-color: #82f160;
    width: 220px;
}

.container_1 .button7 {
    background-color: #257a3f;
    width: 250px;
}

.container_1 img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



  .container_2 {
    margin-top: 40px;
    margin-left: 20px;
    width: 100%;
  }
  .container_2 h1{
    padding-top: 0; /* mențineți spațiul de deasupra */
    font-size: 40px ;
  }
  
  .container_2 .card ul li .large.material-icons {
    font-size: 4rem; /* Mărește dimensiunea iconiței la 36 de pixeli */
    vertical-align: middle; /* Aliniați vertical textul la mijlocul iconiței */
    margin-right: 10px; /* Adăugați un spațiu mic între iconiță și text */
  }
  
  
  .card {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    
  }

  .card h1 {
    font-size: 24px; /* Dimensiunea fontului pentru titlu */
    margin-bottom: 10px; /* Spațierea inferioară între titlu și lista de link-uri */
}

.card ul {
    list-style-type: none; /* Eliminarea stilului implicit al listei */
    padding: 0; /* Eliminarea spațierii interioare a listei */
}

.card ul li {
    margin-bottom: 10px; /* Spațierea între elementele listei */
}

.card ul li a {
    color: #333; /* Culoarea textului link-urilor */
    text-decoration: underline; /* Adăugați subliniere la link-uri */
    transition: color 0.3s; /* Efect de tranziție pentru culoarea textului */
}

.card ul li a:hover {
    color: #007bff; /* Culoarea textului la hover */
}
/* Stilurile personalizate pentru elementul de selectare Materialize */
.input-field select {
    display: block;
    width: 100%; /* Lățimea selectului */
    padding: 10px; /* Spațiul intern */
    font-size: 16px; /* Dimensiunea fontului */
    border: 1px solid #ccc; /* Bordura selectului */
    border-radius: 5px; /* Rotunjirea colțurilor */
    background-color: #fff; /* Culoarea fundalului */
    transition: border-color 0.3s ease; /* Efect de tranziție pentru culoarea bordurii */
}

.input-field select:focus {
    outline: none; /* Eliminarea conturului la focus */
    border-color: #007bff; /* Schimbarea culorii bordurii la focus */
}

.input-field label {
    font-size: 16px; /* Dimensiunea fontului etichetei */
    color: #333; /* Culoarea textului etichetei */
}

>>>>>>> b85ebf3d5afcb479698983bc2f73e57a3ac16fff
