body {
  background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
  radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
  radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
  radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
  radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: Georgia, serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.title {
  text-align: center;
  margin: 0;
  padding: 20px;
  background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
  radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
  radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
  radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
  radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.main {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}

.main .container_1, .main .container_2 {
  margin-top: 50px;
}

.main .container_1 {
  width: 60%;
}

.main .container_2 {
  width: 35%;
}

.card {
  background-color: #FFFFFF;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.list,
.for_login{
    margin-top: 60px;
}


.card h2 {
  color: #3A4D39;
}

.container_2 .card ul {
  list-style-type: none;
  padding: 0;
}

.container_2 .card ul li {
  margin-bottom: 10px;
}

.container_2 .emergency {
  background-color: #f74949;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  .title {
      padding-top: 10px;
      height: 50px;
  }

  .container_1, .container_2 {
      flex-direction: column;
      width: 100%;
  }

  .card{
      width: 500px;
  }

  .main {
    display: flex;
      flex-direction: column;
      padding-top: 150px;
      margin: 0 20px;
      padding-left: 10px;
      padding-right: 10px;
  }

}

@media only screen and (max-width: 480px) {
  .container_1, .container_2 {
      padding-top: 10px;
  }

  .card{
    width: 270px;
}

}

