body {
    background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
        radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
        radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
        radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
        radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: Georgia, serif;
    display: flex;
}

/*NAVBAR*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.title {
    background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
        radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
        radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
        radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
        radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    height: 60px;
}


/*RESTUL*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    margin-top: 150px;
}

.main h1 {

    margin-top: 20px; 
    margin-left: 100px; 
    display: inline-block; 
    font-size: 40px;
}

.container_1 {

    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    display: flex;

    flex-direction: row; /* Aseaza elementele într-un rand din container */
    justify-content: space-between; 
    align-items: flex-start; 

    background-color: #FFFFFF;
    padding: 20px; /* Adauga un padding pentru a separa continutul de marginile containerului */

    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
}


.card .card_1{

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    background-color: #E0FBE2;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 0%;
    padding: 10px;
}
  
.card_1 h1 {
    font-size: 24px; /* Dimensiunea fontului pentru titlu */
    margin-bottom: 10px; /* Spațierea inferioară între titlu și lista de link-uri */
    margin-left: 0px;


}

.card_1 p{
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
}


/* Stiluri pentru butoane */
button{
	width: 50%;
	height: 50px;
	margin: 10px 24%;
	justify-content: center;
	display: block;
	color: #becbaf;
	background: #3A4D39;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover {
	background: #becbaf;
	color: #3A4D39;
}



/*BUTON 2
.card_1 .button2 {
    background-color: #3A4D39;
    border-radius: 10px;
    transition: 0.5s;
    width: 200px;
}

.card_1 .button2 > a {

    color: #becbaf;
    text-decoration: none;
    padding: 10px 10px;
    margin: 0 10px;
    display: inline-block;
}

.card_1 .button2:hover{
    background-color: #8d9188; 
}
.card_1 .button2 a:hover{

    color: #3A4D39;
}*/



.card_1, .card_2 {
    flex: 1; /* Atribuie spatiul disponibil în mod egal ambelor card-uri */
    margin-right: 20px; 
}


.card .card_2{

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 0px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    background-color: #d1d0d0;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 0%;
}



/*For Charts*/
.card_2 .chart-container {
 /* Latime de 100% a containerului pentru a ocupa toată latimea disponibila */
    width: 550px; /* Limităm lățimea maximă la 700px pentru a nu ocupa prea mult spațiu */
    height: 350px;
    margin: 0 auto; /* Afișăm containerul în centru pe axa orizontală */
    margin-bottom: 20px; /* Adăugăm un spațiu între chart-container și radio buttons */

    background-color: #f8f9fa;
    border-radius: 20px;
    border: solid 3px rgb(85, 170, 116);

}

.list,
.for_login{
    margin-top: 60px;
}


/*for main*/
@media only screen and (min-width: 980px) {
    .card_1, .card_2 {
        flex: 1; 
        width: auto; 
        margin-right: 20px; 
        margin-top: 0; 
        margin-right: 20px;
    }
    
    .card_2 {
        margin-top: 150px; 
        margin-right: 20px;
    }
}

@media only screen and (max-width: 980px) {
    .card {
        flex-direction: column; 
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card_1 {
        margin-top: 0;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }


    .card_1, .card_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        max-width: 580px;
        width: 100%;
        margin-top: 20px; /* Ajustează margin-top după nevoie */
    }
    

    .card_2 {
        margin-right: 10px;
    }

    .card_2 .chart-container {
        width: 490px; /* Latime de 100% a containerului pentru a ocupa toată latimea disponibila */
        height: 400px;
    }
   
 
    /*buttons*/
        /*buttons*/
        .card_2 .radio-buttons {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
    
        .container_2 .button1{
            display: flex;
            flex-direction: column;
        }
}

@media screen and (max-width: 725px) {
    .card {
        flex-direction: column; 
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card_1{

        margin-top: 0;
        flex-direction: column; 
        margin-left: 20px;
        margin-right: 20px;
    }


    .card_1, .card_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        margin-top: 20px; /* Ajustează margin-top după nevoie */
    }
    

    .card_2 {
        margin-right: 10px;
    }

    .card_2 .chart-container {
        width: 360px; /* Latime de 100% a containerului pentru a ocupa toată latimea disponibila */
        height: 340px;

    }

    /*buttons*/
        /*buttons*/
        .card_2 .radio-buttons {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
    
        .container_2 .button1{
            display: flex;
            flex-direction: column;
        }
}
@media screen and (max-width: 550px) {
    .card {
        flex-direction: column; 
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card_1{
        margin-top: 0;
        flex-direction: column; 
        margin-left: 20px;
        margin-right: 20px;
    }

    .card_1, .card_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
        margin-top: 20px; /* Ajustează margin-top după nevoie */
    }
    

    .card_2 {
        margin-right: 10px;
    }

    .card_2 .chart-container {
        width: 290px; /* Latime de 100% a containerului pentru a ocupa toată latimea disponibila */
        height: 250px;
    }

    /*buttons*/
        /*buttons*/
        .card_2 .radio-buttons {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
    
        .container_2 .button1{
            display: flex;
            flex-direction: column;
        }

}

.container-more-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 40px;
    background-color: #243024;
    color:rgba(187, 201, 170, 0.99);
    font-size: 1.5em;
    text-align: center;
    border: 3px solid #becbaf;
    border-radius: 20px;
}

.click-here{
    text-decoration: none;
    margin: 0px 10px;
    font-size: 1.52em;
    padding: 0px 20px;
    background-color: #becbaf;
    border-radius: 10px;
    color:#243024;
    cursor: pointer;
}

.click-here:hover{
    background-color: #3A4D39;
    color:#becbaf;
}