.items {
    background-color: #E9F5DB;
    height: 80px;
    font-size: 2em;
    border-bottom: 3px solid #0003;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.list,
.for_login {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.list>a,
.for_login>a {
    color: #739072;
    padding: .75em;
    text-align: center;
    text-decoration: none;
    transition: color .5s;
    position: relative;
}



.logo {
    padding-left: 50px;
    margin: 5px;
}

.logo a {
    color: #3A4D39;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px;
}

@media all and (max-width: 1000px) {
    .list {
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #E9F5DB;
        width: 100%;
        height: auto;
        transition: opacity 1s ease-in-out;
        opacity: 0;
        border-top: 1px solid #0003;
    }

    .list>a,
    .for_login>a {
        border-bottom: 1px solid #0003;
    }

    .for_login {
        width: 100%;
        margin: 0px;
        left: 0;
        cursor: pointer;
    }

    #menu-toggle:checked~.list {
        display: flex;
        opacity: 1;

    }

    #menu-toggle:checked+.menu-icon {
        display: block;
        /* Afișează meniul hamburger când meniul este deschis */
    }

    .menu-icon {
        color: #3A4D39;
        font-size: 24px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

    }



    #menu-toggle:checked+.menu-icon {
        transform: rotate(90deg);
        /* Rotirea iconului pentru a arăta că meniul este deschis */
    }

    #menu-toggle {
        display: none;
    }

    .list a {
        display: block;
        padding: 10px;
        width: 100%;
        cursor: pointer;
    }

    .list>a:hover,
    .for_login>a:hover {
        background-color: #87986A;
        color: #3A4D39;
    }
}

@media all and (min-width: 1001px) {
    .menu-icon {
        display: none;
    }

    #menu-toggle {
        display: none;
    }

    .list>a:hover {
        color: #3A4D39;
    }

    .list>a::after {
        content: '';
        width: 0;
        height: 3px;
        background: #3A4D39;
        position: absolute;
        left: 0;
        bottom: 15px;
        transition: width .5s;
        /* Tranzitie pentru latimea liniei */
    }

    .list>a:hover::after {
        width: 100%;
    }

    .list>a,
    .list {
        margin: 0 10px;
        /* Spațiere între elementele listei */
    }


    .for_login {
        background-color: #3A4D39;
        border-radius: 10px;
        transition: 0.5s;
    }

    .for_login>a {
        color: #becbaf;
        text-decoration: none;
        padding: 10px 10px;
        /* Măriți padding-ul pentru a mări zona colorată */
        margin: 0 10px;
        display: inline-block;
    }

    .for_login:hover {
        background-color: #8d9188;
        /* Schimbă culoarea fundalului la hover/focus */
    }

    .for_login a:hover {
        color: #3A4D39;
    }
}