@media screen and (min-width: 481px){
	body {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		font-family: Georgia, serif;
		background: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 4%, rgba(56, 87, 30, 0) 40%),
			radial-gradient(circle at 6.504% 88.037%, #87986A 0%, rgba(187, 201, 170, 0) 50%),
			radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
			radial-gradient(circle at 93.687% 11.426%, #5e6b51 0%, rgba(233, 245, 219, 0) 70%),
			radial-gradient(circle at 48.901% 49.521%, #c6d9a5 0%, rgba(255, 255, 255, 0) 100%);
	}
	
	.main {
		width: 550px;
		height: 550px;
		border-radius: 10px;
		background-color: #5e6b51;
		box-shadow: 5px 20px 50px #000;
		overflow: hidden;
	}
}

#chk {
	display: none;
}

.forgotPassword {
	position: relative;
	width: 100%;
	height: 100%;
}

.title {
	color: #243024;
	font-size: 2.5em;
	display: flex;
	justify-content: center;
	margin: 15% 0px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}

.input-group {
	display: flex;
    flex-direction: column;
	margin: 20px 50px;
}

.input {
	width: 90%;
	border: solid 1.5px #243119;
	border-radius: 5px;
	background: none;
	padding: 1rem;
	height: 8px;
	color: #becbaf;
    font-size: 1.1rem;
    
	
}

.label {
	left: 20px;
	color: #243119;
	font-size: 1.3rem;
}

.label-sg {
	position: absolute;
	padding: 11px 0px;
	left: 10%;
	color: #243119;
	font-size: 1rem;
	pointer-events: none;
	transform: translateY(1px);
	transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
.input:valid {
	border: 2px solid #243024;
	outline: none;
}


button {
	width: 50%;
	height: 50px;
	margin: 10px 24%;
	justify-content: center;
	display: block;
	color: #becbaf;
	background: #3A4D39;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 10%;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover {
	background: #becbaf;
	color: #3A4D39;
}

.error {
	color: rgb(172, 17, 17);
	justify-content: center;
	padding: 2px 3%;
	font-size: 0.8em;
}

