body {
    background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
        radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
        radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
        radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
        radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    padding: 0;
    margin: 0;
    font-family: Georgia, serif;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}



.body_for_home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Alinează titlul orizontal */
    align-items: center;
    /* Alinează titlul vertical */
}

.body_for_home h1 {
    font-size: 80px;
    /* Dimensiunea titlului în funcție de lățimea viewport-ului */
    text-align: center;
    /* Alinează textul la centru */
    color: #243024;
    padding-top: 100px;
    margin-bottom: 30px;
}

.body_for_home p {
    font-size: 30px;
    /* Dimensiunea titlului în funcție de lățimea viewport-ului */
    text-align: center;
    /* Alinează textul la centru */
    color: #757D6B;
    padding: 0px 50px;
    margin-top: 40px;
}


@media screen and (max-width: 820px) {
    .body_for_home h1 {
        font-size: 50px;
        text-align: left;
        padding-left: 50px;
    }



}

@media all and (min-width: 821px) {

    .container_1 {
        text-align: center;
        padding: 100px;
        font-size: 5vh;
        color: #243024;
        grid-row: 1;
    }

    .container_2 {
        padding: 20px 30px;
        grid-row: 1;
    }

    .container_3 {
        padding: 20px 30px;
        grid-row: 2;
    }

    .container_4 {
        padding: 20px 30px;
        grid-row: 2;
        grid-column: 2;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 50px;
}

.buttons p {
    margin: 10px;
    align-items: center;
    padding: 10px 20px;
    font-size: 40px;
}

.buttons .button {
    background-color: #3A4D39;
    padding: 20px 30px;
    color: #becbaf;
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid #3e4c3d;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    font-family: Georgia, serif;
    margin: 20px;
    text-decoration: none;
}


.button:hover {
    background-color: #8d9188;
    color: #3A4D39;
    border: 1px solid #87986A;
}

.about_us {
    background-color: #becbaf;
    margin-top: 100px;
    padding-top: 100px;
    width: 100%;
    display: grid;
    height: 80%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

@media screen and (max-width: 821px) {
    .about_us {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        height: auto;
        grid-gap: 10px;
    }

    .container_1,
    .container_2,
    .container_3,
    .container_4 {
        grid-row: auto;
        grid-column: auto;
        margin: 10px 30px;
    }

    .container_1 {
        text-align: center;
        font-size: 5vh;
        color: #243024;
        grid-row: 1;

    }
}

.text-container {
    background-color: #87986A;
    padding-left: 3px;
    border-radius: 10px;
    color: #333333;
}

.text-container h3 {
    font-size: 5vh;
    text-align: center;
    padding-top: 20px;
}

.text-container .text {
    color: #333333;
    font-size: 3vh;
    text-align: left;
    padding-bottom: 20px;
}


/*footer*/
footer {
    background-color: #3A4D39;
    color: #E9F5DB;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #E9F5DB;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}