body {
    background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
    radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
    radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
    radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
    radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: Georgia, serif;
    display: flex;
}

/*NAVBAR*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.title {
    background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
    radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
    radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
    radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
    radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

    text-align: center;
    width: 100%; 
    margin: 0; 
    padding: 0; 
    padding-top: 20px;
    height: 60px;
   
}
  

/*RESTUL*/
.main {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 0 auto; 
    max-width: 1200px; 
    width: 100%; 
    margin-top: 150px;
}
  
.main h1 {
    margin-top: 20px; 
    margin-left: 100px; 
    display: inline-block; 
    font-size: 40px;
}

.main .input-field {
    margin-left: 70px;
    display: inline-block;
    vertical-align: top;
   width: 250px;
}

.input-field select {
    display: block;
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    background-color: #fff; 
    transition: border-color 0.3s ease; 
}

.input-field select:focus {
    outline: none; /* Eliminarea conturului la focus */
    border-color: #3A4D39; /* Schimbarea culorii bordurii la focus */
}

.input-field label {
    font-size: 16px; /* Dimensiunea fontului etichetei */
    color: #191919; /* Culoarea textului etichetei */
}

.container_1 {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    display: flex;
    flex-direction: row; /* Aseaza elementele într-un rand din container */
    justify-content: space-between; 
    align-items: flex-start; 

    background-color: #FFFFFF;
    padding: 20px; /* Adauga un padding pentru a separa continutul de marginile containerului */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.card .card_1{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    background-color: #E0FBE2;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 0%;
    padding: 10px;
}
  
.card_1 h1 {
    font-size: 24px; /* Dimensiunea fontului pentru titlu */
    margin-bottom: 10px; /* Spațierea inferioară între titlu și lista de link-uri */
    margin-left: 0px;

}

.card_1 p{
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
}

/* Stiluri pentru butoane */
.button {
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
   
}

/*BUTON 2*/
.card_1 .button2 {
    background-color: #3A4D39;
    border-radius: 10px;
    transition: 0.5s;
    width: 200px;
}
.card_1 .button2 > a {
    color: #becbaf;
    text-decoration: none;
    padding: 10px 10px; 
    margin: 0 10px;
    display: inline-block;
}
.card_1 .button2:hover{
    background-color: #8d9188; 
}
.card_1 .button2 a:hover{
    color: #3A4D39;
}


.card_1, .card_2 {
    flex: 1; /* Atribuie spatiul disponibil în mod egal ambelor card-uri */
    margin-right: 20px; 
}

.card .card_2{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 0px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    background-color: #d1d0d0;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 0%;
}

 /* Stiluri pentru tabel -> projects */
 #projects-table {
    width: 100%;
    border-collapse: collapse; /* Asigura bordurile comune între celule */
}
#projects-table th, #projects-table td {
    border: solid 3px rgb(85, 170, 116); /* Bordura pentru celule */
    padding: 8px; 
    text-align: center;
}
#projects-table th {
    background-color: #f2f2f2; 
    font-weight: bold; 
}
#projects-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Fundal pentru rândurile pare */
}
#projects-table tr:hover {
    background-color: #dddddd; /* Fundal la hover */
}

/*For Charts*/
.card_2 .chart-container {
 /* Latime de 100% a containerului pentru a ocupa toată latimea disponibila */
    width: 550px; /* Limităm lățimea maximă la 700px pentru a nu ocupa prea mult spațiu */
    height: 350px;
    margin: 0 auto; /* Afișăm containerul în centru pe axa orizontală */
    margin-bottom: 20px; /* Adăugăm un spațiu între chart-container și radio buttons */
    background-color: #f8f9fa;
    border-radius: 20px;
    border: solid 3px rgb(85, 170, 116);
    
}

/* Stiluri pentru ChartPie */
.card_2 .chartpie-container {
    margin-top: 20px;
    position: relative;
    height: auto;
    margin: 0 auto; 
    padding: 20px;
}
#confiscations-chartpie {
    width: 100%;
    height: 100%;
}

/*For filters*/
.card_2 .radio-buttons {
    display: flex;
    margin-bottom: 20px;
}
.card_2 .radio-buttons label {
    margin-right: 20px; /* Spațiu între fiecare radio button */
    font-size: 16px;
}



.container_2 {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    width: 98%;
  }
.container_2 h1{
    padding-top: 0; 
    font-size: 40px ;
  }
.container_2 .card ul li .large.material-icons {
    font-size: 4rem; 
    vertical-align: middle; 
    margin-right: 10px; 
  }
  
  /*BUTON 1*/
.container_2 .button1 {
    background-color: #c1c0c0;
    border-radius: 10px;
    transition: 0.5s;
    width: 250px;
   
}
.container_2 .button1 > a {
    color: #2a865d;
    text-decoration: none;
    padding: 10px 10px; 
    margin: 0 10px;
    display: inline-block;
}
.container_2 .button1:hover{
    background-color: #436918; 
}
.container_2 .button1 a:hover{
    color: #7f9f7d;
}
  
 
/*RESPONSIVE*/
/*for navbar*/
@media only screen and (max-width: 980px) {
    .items {
      padding: 0 20px; 
    }
  
    .logo {
      padding-left: 20px; 
    }
  
    .title {
      padding-top: 10px; 
      height: 50px; 
    }
  
    .list > a {
      font-size: 1em; 
    }
  
    .list {
      display: none; 
      flex-direction: column;
      position: absolute;
      top: 80px; 
      left: 0;
      background-color: #283019;;
      width: 100%;
      height: auto;
      transition: opacity 1s ease-in-out; 
      opacity: 0; 
  }
  
    #menu-toggle:checked ~ .list {
      display: flex;
      opacity: 1; 
  }
  
  #menu-toggle:checked + .menu-icon {
      display: block; 
  }
  
  .menu-icon {
      color:  #3A4D39;
      font-size: 24px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out; 
  }
  
  #menu-toggle:checked + .menu-icon {
      transform: rotate(90deg); 
  }
  #menu-toggle{
      display: none;
  }

  
  }
  
@media all and (min-width: 980px) {
    .menu-icon {
        display: none; 
    }
    #menu-toggle{
        display: none;
    }
  }

/*for main*/
@media only screen and (min-width: 980px) {
    .card_1, .card_2 {
        flex: 1; 
        width: auto; 
        margin-right: 20px; 
        margin-top: 0; 
        margin-right: 20px;
    }
    
    .card_2 {
        margin-top: 150px; 
        margin-right: 20px;
    }
}
@media only screen and (max-width: 980px) {
    .card {
        flex-direction: column; 

        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card_1{
        margin-top: 0;
        flex-direction: column; 
        margin-left: 20px;
        margin-right: 20px;
    }

    .card_1, .card_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 580px;
        width: 100%;
        margin-top: 20px; /* Ajustează margin-top după nevoie */
    }
    

    .card_2 {
        margin-right: 10px;
    }

    .card_2 .chart-container {
        width: 490px; /* Latime de 100% a containerului pentru a ocupa toată latimea disponibila */
        height: 400px;
    }
   
 
    /*buttons*/
        /*buttons*/
        .card_2 .radio-buttons {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
    
        .container_2 .button1{
            display: flex;
            flex-direction: column;
        }
}

@media screen and (max-width: 725px) {
    .card {
        flex-direction: column; 
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card_1{
        margin-top: 0;
        flex-direction: column; 
        margin-left: 20px;
        margin-right: 20px;
    }

    .card_1, .card_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        margin-top: 20px; /* Ajustează margin-top după nevoie */
    }
    

    .card_2 {
        margin-right: 10px;
    }

    .card_2 .chart-container {
        width: 360px; /* Latime de 100% a containerului pentru a ocupa toată latimea disponibila */
        height: 340px;
    }

    /*buttons*/
        /*buttons*/
        .card_2 .radio-buttons {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
    
        .container_2 .button1{
            display: flex;
            flex-direction: column;
        }
}
@media screen and (max-width: 550px) {
    .card {
        flex-direction: column; 
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card_1{
        margin-top: 0;
        flex-direction: column; 
        margin-left: 20px;
        margin-right: 20px;
    }

    .card_1, .card_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 310px;
        width: 100%;
        margin-top: 20px; /* Ajustează margin-top după nevoie */
    }
    

    .card_2 {
        margin-right: 10px;
    }

    .card_2 .chart-container {
        width: 300px; /* Latime de 100% a containerului pentru a ocupa toată latimea disponibila */
        height: 300px;
    }

    /*buttons*/
        /*buttons*/
        .card_2 .radio-buttons {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
    
        .container_2 .button1{
            display: flex;
            flex-direction: column;
        }
}