body {
    background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
    radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
    radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
    radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
    radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: Georgia, serif;
    display: flex;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.title {
    background-image: radial-gradient(circle at 100% 100%, rgba(56, 87, 30, 0.82) 0%, rgba(56, 87, 30, 0) 40%),
    radial-gradient(circle at 6.504% 88.037%, rgba(187, 201, 170, 0.99) 0%, rgba(187, 201, 170, 0) 50%),
    radial-gradient(circle at 6.165% 12.617%, #87986A 0%, rgba(135, 152, 106, 0) 83%),
    radial-gradient(circle at 93.687% 11.426%, #E9F5DB 0%, rgba(233, 245, 219, 0) 70%),
    radial-gradient(circle at 48.901% 49.521%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

    text-align: center;
    width: 100%; 
    margin: 0; 
    padding: 0; 
    padding-top: 20px;
    height: 60px;
}
  


.items {
   
    background-color: #E9F5DB;
    height: 50px;
    font-size: 1.5em;
    border-bottom: 1px solid #0003;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 40px; 

}


.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}

.list > a {
    color: #739072;
    padding: .75em;
    text-align: center;
    text-decoration: none;
    transition: color .5s; 
    position: relative;
    margin: 0 10px; 
}


.list > a:hover {
    color: #3A4D39; 
}

.list > a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #3A4D39;
    position: absolute;
    left: 0;
    bottom: 15px;
    transition: width .5s; }

.list > a:hover::after {
    width: 100%;
}

.logo {
    padding-left: 50px; 
    margin: 5px;
}

.logo a {
    color: #3A4D39; 
    text-decoration: none; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px;
}


.for_login {
    background-color: #3A4D39;
    border-radius: 10px;
    transition: 0.5s;
}

.for_login > a {
    color: #becbaf;
    text-decoration: none;
    padding: 10px 10px; 
    margin: 0 10px;
    display: inline-block;
}

.for_login:hover{
    background-color: #8d9188; 
}

.for_login a:hover{
    color: #3A4D39;
}



/*RESTUL*/
.main {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 0 auto; 
    max-width: 1200px; 
    width: 100%; 
    margin-top: 150px;
}
  
.main h1 {
    margin-top: 20px; /* Adaugă un spațiu de 20px între .items și h1 */
    margin-left: 100px; /* Menține margin-left-ul existent pentru h1 */
    display: inline-block; 
}
.main .input-field {
    margin-left: 70px;
    display: inline-block;
    vertical-align: top;
   width: 250px;
}
.main .year {
    
    text-decoration: underline; /* Adăugați subliniere textului */
    font-size: 40px;
}
    
.container_1 {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


.card {
    display: flex;
    flex-direction: row; /* Așază elementele într-un rând */
    justify-content: space-between; /* Distribuie spațiul între elemente */
    align-items: flex-start; /* Alinează elementele pe axa verticală la începutul containerului */
    background-color: #FFFFFF;
    padding: 20px; /* Adaugă un padding pentru a separa conținutul de marginile containerului */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-bottom: 20px;
}


.card .card_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    background-color: #E0FBE2;
    margin-bottom: 20px;
    width: 40%;
    margin-top: 0%;
}

.card_1, .card_2 {
    flex: 1; /* Atribuie spațiul disponibil în mod egal ambelor coloane */
    margin-right: 20px; /* Adaugă un spațiu între coloane */
}


.card_1 .title_map {
   
    text-align: left;
    width: 100%; 
   
    height: 70px;
}
  



.button {
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
   
}

/* Stiluri pentru butoane */
.container_1 .button1 {
    background-color: #b5b5b5;
    border-radius: 10px;
    transition: 0.5s;
    width: 250px;
   
}
.container_1 .button1 > a {
    color: #2a865d;
    text-decoration: none;
    padding: 10px 10px; 
    margin: 0 10px;
    display: inline-block;
}
.container_1 .button1:hover{
    background-color: #436918; 
}

.container_1 .button1 a:hover{
    color: #7f9f7d;
}


/*BUTON 2*/
.container_1 .button2 {
    background-color: #3A4D39;
    border-radius: 10px;
    transition: 0.5s;
    width: 200px;
}

.container_1 .button2 > a {
    color: #becbaf;
    text-decoration: none;
    padding: 10px 10px; 
    margin: 0 10px;
    display: inline-block;
}

.container_1 .button2:hover{
    background-color: #8d9188; 
}

.container_1 .button2 a:hover{
    color: #3A4D39;
}


.container_1 .button3 {
    background-color: #CA8787;
 
}

.container_1 .button4 {
    background-color: #720006;
   
}

.container_1 .button5 {
    background-color: #c8d64b;
   
}

.container_1 .button6 {
    background-color: #82f160;
  
}

.container_1 .button7 {
    background-color: #257a3f;
    
}

.container_1 img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



  .container_2 {
    margin-top: 40px;
    margin-left: 20px;
    width: 100%;
  }
  .container_2 h1{
    padding-top: 0; /* mențineți spațiul de deasupra */
    font-size: 40px ;
  }
  
  .container_2 .card ul li .large.material-icons {
    font-size: 4rem; 
    vertical-align: middle; 
    margin-right: 10px; 
  }
  
  
 

  .card h1 {
    font-size: 24px; /* Dimensiunea fontului pentru titlu */
    margin-bottom: 10px; /* Spațierea inferioară între titlu și lista de link-uri */
}
.card .card_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;

    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    background-color: #d1d0d0;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}


.card_2 ul {
    list-style-type: none; 
    padding: 0; 
}

.card_2 ul li {
    margin-bottom: 10px; 
}

.card_2 ul li a {
    color: #333; 
    text-decoration: underline; 
    transition: color 0.3s; 
}

.card_2 ul li a:hover {
    color: #007bff; 
}

.input-field select {
    display: block;
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    background-color: #fff; 
    transition: border-color 0.3s ease; 
}

.input-field select:focus {
    outline: none; /* Eliminarea conturului la focus */
    border-color: #007bff; /* Schimbarea culorii bordurii la focus */
}

.input-field label {
    font-size: 16px; /* Dimensiunea fontului etichetei */
    color: #333; /* Culoarea textului etichetei */
}

  /* Stiluri pentru tabel */
  #confiscations-table {
    width: 100%;
    border-collapse: collapse; /* Asigură bordurile comune între celule */
}

#confiscations-table th, #confiscations-table td {
    border: 1px solid #ddd; /* Bordura pentru celule */
    padding: 8px; /* Spațiu în interiorul celulelor */
    text-align: center; /* Aliniere text în centru */
}

#confiscations-table th {
    background-color: #f2f2f2; /* Fundal pentru antet */
    font-weight: bold; /* Text îngroșat pentru antet */
}

#confiscations-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Fundal pentru rândurile pare */
}

#confiscations-table tr:hover {
    background-color: #ddd; /* Fundal la hover */
}


  /* Stiluri pentru tabel -> infractionality */
  #infractionality-table {
    width: 100%;
    border-collapse: collapse; /* Asigură bordurile comune între celule */
}

#infractionality-table th, #infractionality-table td {
    border: 1px solid #ddd; /* Bordura pentru celule */
    padding: 8px; /* Spațiu în interiorul celulelor */
    text-align: center; /* Aliniere text în centru */
}

#infractionality-table th {
    background-color: #f2f2f2; /* Fundal pentru antet */
    font-weight: bold; /* Text îngroșat pentru antet */
}

#infractionality-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Fundal pentru rândurile pare */
}

#infractionalitys-table tr:hover {
    background-color: #ddd; /* Fundal la hover */
}
 /* Stiluri pentru tabel -> emergencies */
 #emergencies-table {
    width: 100%;
    border-collapse: collapse; /* Asigură bordurile comune între celule */
}

#emergencies-table th, #emergencies-table td {
    border: 1px solid #ddd; /* Bordura pentru celule */
    padding: 8px; /* Spațiu în interiorul celulelor */
    text-align: center; /* Aliniere text în centru */
}

#emergencies-table th {
    background-color: #f2f2f2; /* Fundal pentru antet */
    font-weight: bold; /* Text îngroșat pentru antet */
}

#emergencies-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Fundal pentru rândurile pare */
}

#emergencies-table tr:hover {
    background-color: #ddd; /* Fundal la hover */
}
 /* Stiluri pentru tabel -> 'projects */
 #projects-table {
    width: 100%;
    border-collapse: collapse; /* Asigură bordurile comune între celule */
}

#projects-table th, #projects-table td {
    border: 1px solid #ddd; /* Bordura pentru celule */
    padding: 8px; /* Spațiu în interiorul celulelor */
    text-align: center; /* Aliniere text în centru */
}

#projects-table th {
    background-color: #f2f2f2; /* Fundal pentru antet */
    font-weight: bold; /* Text îngroșat pentru antet */
}

#projects-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Fundal pentru rândurile pare */
}

#projects-table tr:hover {
    background-color: #ddd; /* Fundal la hover */
}

.card_2 .radio-buttons {
    display: flex;
    justify-content:baseline; /* Afișăm radio buttons în centru */
    margin-bottom: 20px;
}

.card_2 .radio-buttons label {
    margin-right: 20px; /* Spațiu între fiecare radio button */
    font-size: 16px;
}

.card_2 .chart-container {
    width: 100%; /* Lățime de 100% a containerului pentru a ocupa toată lățimea disponibilă */
    max-width: 900px; /* Limităm lățimea maximă la 700px pentru a nu ocupa prea mult spațiu */
    height: 100%;
    max-height: 350px;
    margin: 0 auto; /* Afișăm containerul în centru pe axa orizontală */
    margin-bottom: 20px; /* Adăugăm un spațiu între chart-container și radio buttons */
    background-color: #f8f9fa;
    border-radius: 20px;
    border: solid 3px rgb(85, 170, 116);
    
}



@media only screen and (max-width: 800px) {
    .items {
      padding: 0 20px; 
    }
  
    .logo {
      padding-left: 20px; 
    }
  
    .title {
      padding-top: 10px; 
      height: 50px; 
    }
  
    .list > a {
      font-size: 1em; 
    }
  

    .list {
      display: none; 
      flex-direction: column;
      position: absolute;
      top: 80px; 
      left: 0;
      background-color: #283019;;
      width: 100%;
      height: auto;
      transition: opacity 1s ease-in-out; 
      opacity: 0; 
  }
  
    #menu-toggle:checked ~ .list {
      display: flex;
      opacity: 1; 
  }
  
  #menu-toggle:checked + .menu-icon {
      display: block; 
  }
  
  .menu-icon {
      color:  #3A4D39;
      font-size: 24px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out; 
  }
  
  #menu-toggle:checked + .menu-icon {
      transform: rotate(90deg); 
  }
  #menu-toggle{
      display: none;
  }

  
  }
  
  @media all and (min-width: 801px) {
    .menu-icon {
        display: none; 
    }
    #menu-toggle{
        display: none;
    }
  }
  
@media only screen and (max-width: 800px) {
    .card{
        flex-direction: column; /* Așază elementele într-o coloană */
        margin-top: 0;
    }
    .card_1{
        margin-top: 0;
        flex-direction: column; 
        margin-left: 20px;
    }

    .button-column,.image-column {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        margin: 0 auto; 
        max-width: 1200px; 
        width: 100%; 
        margin-top: 150px;
    }
    .image-column {
        margin-top: 0;
    }
    .button-column {
        margin-top: 0; 
    }
}

/* Stilurile pentru ecranele mai mari */
@media only screen and (min-width: 801px) {
    .image-column, .button-column {
        flex: 1; 
        width: auto; 
        margin-right: 20px; 
        margin-top: 0; 
    }
    
    .button-column {
        margin-top: 150px; 
    }
}
